<mat-toolbar color="primary">
    <mat-toolbar-row [class.mat-elevation-z10]="true">
        <button mat-flat-button color="primary" aria-label="logo">
            <mat-icon>show_chart</mat-icon>
            <span>Awesome Converter</span>
        </button>
        <span class="example-spacer"></span>
        <div>
            <span class="mat-body-1">EUR - 43.00/44.00</span>
            <mat-divider></mat-divider>
            <span class="mat-body-1">USD - 42.00/43.00</span>
        </div>
        <span class="example-spacer"></span>

        <button mat-flat-button color="primary" aria-label="converter page">
            <mat-icon>format_color_fill</mat-icon>
        </button>
    </mat-toolbar-row>
    <mat-toolbar-row>
        <span class="">Calculator</span>
        <span class="example-spacer"></span>
    </mat-toolbar-row>
</mat-toolbar>