@use '@angular/material' as mat;

$card-color: mat.define-palette(mat.$indigo-palette);
$card-padding: 10px;

.menu-option:hover {
  background-color: mat.get-color-from-palette($card-color, 900);
}

//2nd toolbar-row
.custom-mat-elevation {
  box-shadow:
    0px 24px 38px rgb(0 0 0 / 14%);
}